p {
    color: teal;
    background-color: pink;
    text-align: justify;
    /* text-indent: 100px; */
    /* letter-spacing: 10px; */
    /* word-spacing: 10px; */
    line-height: 30px;
}

a {}


h1 {
    text-decoration: line-through;
    text-decoration-color: red;
}

.transform {
    text-transform: capitalize;
}

.shadowed-text {
    color: black;
    background-color: white;
    text-shadow: 3px -3px 5px red;
}